In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('paper_data.xlsx', sheet_name='asset-milestone') # GABRIEL AND KAROL EXCEL (FROM MORALES' PAPER)

In [3]:
df_comm = pd.read_excel('paper_data.xlsx', sheet_name='asset-commission') # GABRIEL AND KAROL EXCEL (FROM MORALES' PAPER)

In [4]:
asset_commission_df = pd.read_csv('asset-commission.csv')
asset_df = pd.read_csv('asset.csv')
asset_milestone_df = pd.read_csv('asset-milestone.csv')

In [5]:
asset_commission_df

,asset,commission_year,fixed_cost,fixed_cost_storage_energy,investment_cost,investment_cost_storage_energy,investment_limit,investment_limit_storage_energy,storage_loss_from_stored_energy
0,NL_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
1,BE_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
2,DE_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
3,FR_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
4,DK_E_Demand,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...
388,BG_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
389,FR_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
390,LV_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
391,PT_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0
392,SK_Battery,2050,0.0,0.0,0.0,0.0,NaN,NaN,0.0

In [6]:
asset_milestone_df

,asset,initial_storage_level,investable,max_energy_timeframe_partition,milestone_year,min_energy_timeframe_partition,peak_demand,storage_inflows,units_on_cost
0,NL_E_Demand,NaN,False,NaN,2050,NaN,37487.252570,0,0.0
1,BE_E_Demand,NaN,False,NaN,2050,NaN,26322.908650,0,0.0
2,DE_E_Demand,NaN,False,NaN,2050,NaN,125041.124300,0,0.0
3,FR_E_Demand,NaN,False,NaN,2050,NaN,91601.006180,0,0.0
4,DK_E_Demand,NaN,False,NaN,2050,NaN,6316.626413,0,0.0
...,...,...,...,...,...,...,...,...,...
388,BG_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
389,FR_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
390,LV_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
391,PT_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0
392,SK_Battery,NaN,False,NaN,2050,NaN,0.000000,0,0.0

In [7]:
df

,asset,milestone_year,investable,peak_demand,storage_inflows,initial_storage_level,min_energy_timeframe_partition,max_energy_timeframe_partition,units_on_cost
0,NL_E_Balance,2050,False,0.00,0,0.0,todo,todo,todo
1,NL_E_Demand,2050,False,21291.22,0,0.0,todo,todo,todo
2,NL_E_ENS,2050,True,0.00,0,0.0,todo,todo,todo
3,NL_Wind_Onshore,2050,True,0.00,0,0.0,todo,todo,todo
4,NL_Wind_Offshore,2050,True,0.00,0,0.0,todo,todo,todo
...,...,...,...,...,...,...,...,...,...
392,CY_Solar,2050,True,0.00,0,0.0,todo,todo,todo
393,CY_Battery,2050,True,0.00,0,NaN,todo,todo,todo
394,CY_PEMEC,2050,True,0.00,0,NaN,todo,todo,todo
395,CY_PEMFC,2050,True,0.00,0,NaN,todo,todo,todo
396,CY_H2Tank,2050,True,0.00,0,NaN,todo,todo,todo

In [8]:
investable_rows = df[df["investable"]]

In [9]:
temp = investable_rows.merge(df_comm, on="asset", how="left")

In [10]:
investable_assets = temp[["asset", "investment_cost"]]

In [11]:
investable_assets

                asset  investment_cost
0            NL_E_ENS         0.000000
1     NL_Wind_Onshore     77356.328657
2    NL_Wind_Offshore    119732.617774
3            NL_Solar     34342.980275
4          NL_Battery     77577.850306
..                ...              ...
237          CY_Solar     34342.980275
238        CY_Battery     77577.850306
239          CY_PEMEC     69706.055056
240          CY_PEMFC    147495.026006
241         CY_H2Tank     12682.673923

[242 rows x 2 columns]

In [12]:
merged = asset_commission_df.merge(investable_assets[['asset', 'investment_cost']], on='asset', how='left', suffixes=('', '_y'))

merged['investment_cost'] = merged['investment_cost_y']

merged = merged.drop(columns=['investment_cost_y'])

In [13]:
merged

,asset,commission_year,fixed_cost,fixed_cost_storage_energy,investment_cost,investment_cost_storage_energy,investment_limit,investment_limit_storage_energy,storage_loss_from_stored_energy
0,NL_E_Demand,2050,0.0,0.0,NaN,0.0,NaN,NaN,0.0
1,BE_E_Demand,2050,0.0,0.0,NaN,0.0,NaN,NaN,0.0
2,DE_E_Demand,2050,0.0,0.0,NaN,0.0,NaN,NaN,0.0
3,FR_E_Demand,2050,0.0,0.0,NaN,0.0,NaN,NaN,0.0
4,DK_E_Demand,2050,0.0,0.0,NaN,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...
388,BG_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0.0
389,FR_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0.0
390,LV_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0.0
391,PT_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0.0
392,SK_Battery,2050,0.0,0.0,77577.850306,0.0,NaN,NaN,0.0

In [14]:
merged['storage_loss_from_stored_energy'] = pd.to_numeric(merged['storage_loss_from_stored_energy'], downcast='integer')

In [15]:
merged['investment_cost'] = merged['investment_cost'].fillna(0.0)

In [16]:
# merged.to_csv('asset-commission-fixed.csv', index=False)

In [17]:
asset_commission_fixed_df = merged
investable_assets["investable"] = "true"

C:\Users\urosg\AppData\Local\Temp\ipykernel_28668\533491160.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  investable_assets["investable"] = "true"

In [18]:
investable_assets

                asset  investment_cost investable
0            NL_E_ENS         0.000000       true
1     NL_Wind_Onshore     77356.328657       true
2    NL_Wind_Offshore    119732.617774       true
3            NL_Solar     34342.980275       true
4          NL_Battery     77577.850306       true
..                ...              ...        ...
237          CY_Solar     34342.980275       true
238        CY_Battery     77577.850306       true
239          CY_PEMEC     69706.055056       true
240          CY_PEMFC    147495.026006       true
241         CY_H2Tank     12682.673923       true

[242 rows x 3 columns]

In [19]:
merged = asset_milestone_df.merge(investable_assets[['asset', 'investable']], on='asset', how='left', suffixes=('', '_y'))

merged['investable'] = merged['investable_y']

merged = merged.drop(columns=['investable_y'])

In [20]:
merged['investable'] = merged['investable'].fillna("false")

In [21]:
# merged['peak_demand'] = pd.to_numeric(merged['peak_demand'], downcast='integer')

In [22]:
merged

,asset,initial_storage_level,investable,max_energy_timeframe_partition,milestone_year,min_energy_timeframe_partition,peak_demand,storage_inflows,units_on_cost
0,NL_E_Demand,NaN,false,NaN,2050,NaN,37487.252570,0,0.0
1,BE_E_Demand,NaN,false,NaN,2050,NaN,26322.908650,0,0.0
2,DE_E_Demand,NaN,false,NaN,2050,NaN,125041.124300,0,0.0
3,FR_E_Demand,NaN,false,NaN,2050,NaN,91601.006180,0,0.0
4,DK_E_Demand,NaN,false,NaN,2050,NaN,6316.626413,0,0.0
...,...,...,...,...,...,...,...,...,...
388,BG_Battery,NaN,true,NaN,2050,NaN,0.000000,0,0.0
389,FR_Battery,NaN,true,NaN,2050,NaN,0.000000,0,0.0
390,LV_Battery,NaN,true,NaN,2050,NaN,0.000000,0,0.0
391,PT_Battery,NaN,true,NaN,2050,NaN,0.000000,0,0.0
392,SK_Battery,NaN,true,NaN,2050,NaN,0.000000,0,0.0

In [23]:
# merged.to_csv('asset-milestone-fixed.csv', index=False)

In [24]:
asset_df

,asset,capacity,capacity_storage_energy,consumer_balance_sense,discount_rate,economic_lifetime,energy_to_power_ratio,group,investment_integer,investment_integer_storage_energy,...,max_ramp_up,min_operating_point,ramping,storage_method_energy,technical_lifetime,type,unit_commitment,unit_commitment_integer,unit_commitment_method,use_binary_storage_method
0,NL_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
1,BE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
2,DE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
3,FR_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
4,DK_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,BG_Battery,4923.0,14769.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
389,FR_Battery,24461.0,73383.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
390,LV_Battery,149.0,447.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
391,PT_Battery,3294.0,9882.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
392,SK_Battery,2462.0,7386.0,NaN,0.0,1.0,0,NaN,False,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN

In [25]:
investable_assets["investment_method"] = "simple"
investable_assets["investment_integer"] = "true"

C:\Users\urosg\AppData\Local\Temp\ipykernel_28668\3380157677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  investable_assets["investment_method"] = "simple"
C:\Users\urosg\AppData\Local\Temp\ipykernel_28668\3380157677.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  investable_assets["investment_integer"] = "true"

In [26]:
investable_assets

,asset,investment_cost,investable,investment_method,investment_integer
0,NL_E_ENS,0.000000,true,simple,true
1,NL_Wind_Onshore,77356.328657,true,simple,true
2,NL_Wind_Offshore,119732.617774,true,simple,true
3,NL_Solar,34342.980275,true,simple,true
4,NL_Battery,77577.850306,true,simple,true
...,...,...,...,...,...
237,CY_Solar,34342.980275,true,simple,true
238,CY_Battery,77577.850306,true,simple,true
239,CY_PEMEC,69706.055056,true,simple,true
240,CY_PEMFC,147495.026006,true,simple,true
241,CY_H2Tank,12682.673923,true,simple,true

In [27]:
merged = asset_df.merge(investable_assets[['asset', 'investment_method', 'investment_integer']], on='asset', how='left', suffixes=('', '_y'))

merged['investment_method'] = merged['investment_method_y']
merged['investment_integer'] = merged['investment_integer_y']


merged = merged.drop(columns=['investment_method_y'])
merged = merged.drop(columns=['investment_integer_y'])

In [28]:
merged

,asset,capacity,capacity_storage_energy,consumer_balance_sense,discount_rate,economic_lifetime,energy_to_power_ratio,group,investment_integer,investment_integer_storage_energy,...,max_ramp_up,min_operating_point,ramping,storage_method_energy,technical_lifetime,type,unit_commitment,unit_commitment_integer,unit_commitment_method,use_binary_storage_method
0,NL_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,NaN,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
1,BE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,NaN,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
2,DE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,NaN,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
3,FR_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,NaN,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
4,DK_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,NaN,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,BG_Battery,4923.0,14769.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
389,FR_Battery,24461.0,73383.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
390,LV_Battery,149.0,447.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
391,PT_Battery,3294.0,9882.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
392,SK_Battery,2462.0,7386.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN

In [29]:
merged['investment_method'] = merged['investment_method'].fillna("none")
merged['investment_integer'] = merged['investment_integer'].fillna("false")

In [30]:
merged

,asset,capacity,capacity_storage_energy,consumer_balance_sense,discount_rate,economic_lifetime,energy_to_power_ratio,group,investment_integer,investment_integer_storage_energy,...,max_ramp_up,min_operating_point,ramping,storage_method_energy,technical_lifetime,type,unit_commitment,unit_commitment_integer,unit_commitment_method,use_binary_storage_method
0,NL_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
1,BE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
2,DE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
3,FR_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
4,DK_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,False,...,NaN,0.0,False,False,1.0,consumer,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,BG_Battery,4923.0,14769.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
389,FR_Battery,24461.0,73383.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
390,LV_Battery,149.0,447.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
391,PT_Battery,3294.0,9882.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN
392,SK_Battery,2462.0,7386.0,NaN,0.0,1.0,0,NaN,true,False,...,NaN,0.0,False,False,1.0,storage,False,False,NaN,NaN

In [31]:
merged = merged.applymap(lambda x: str(x).lower() if isinstance(x, bool) else x)

In [32]:
merged['energy_to_power_ratio'] = pd.to_numeric(merged['energy_to_power_ratio'], downcast='integer')

In [33]:
merged

,asset,capacity,capacity_storage_energy,consumer_balance_sense,discount_rate,economic_lifetime,energy_to_power_ratio,group,investment_integer,investment_integer_storage_energy,...,max_ramp_up,min_operating_point,ramping,storage_method_energy,technical_lifetime,type,unit_commitment,unit_commitment_integer,unit_commitment_method,use_binary_storage_method
0,NL_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,false,...,NaN,0.0,false,false,1.0,consumer,false,false,NaN,NaN
1,BE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,false,...,NaN,0.0,false,false,1.0,consumer,false,false,NaN,NaN
2,DE_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,false,...,NaN,0.0,false,false,1.0,consumer,false,false,NaN,NaN
3,FR_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,false,...,NaN,0.0,false,false,1.0,consumer,false,false,NaN,NaN
4,DK_E_Demand,0.0,0.0,NaN,0.0,1.0,0,NaN,false,false,...,NaN,0.0,false,false,1.0,consumer,false,false,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,BG_Battery,4923.0,14769.0,NaN,0.0,1.0,0,NaN,true,false,...,NaN,0.0,false,false,1.0,storage,false,false,NaN,NaN
389,FR_Battery,24461.0,73383.0,NaN,0.0,1.0,0,NaN,true,false,...,NaN,0.0,false,false,1.0,storage,false,false,NaN,NaN
390,LV_Battery,149.0,447.0,NaN,0.0,1.0,0,NaN,true,false,...,NaN,0.0,false,false,1.0,storage,false,false,NaN,NaN
391,PT_Battery,3294.0,9882.0,NaN,0.0,1.0,0,NaN,true,false,...,NaN,0.0,false,false,1.0,storage,false,false,NaN,NaN
392,SK_Battery,2462.0,7386.0,NaN,0.0,1.0,0,NaN,true,false,...,NaN,0.0,false,false,1.0,storage,false,false,NaN,NaN

In [34]:
# merged.to_csv('asset-fixed.csv', index=False)